

<% TimeEntryActivity
   .includes(:time_entry_activities_projects)
   .order(:name)
   .each do |activity| %>
  <div class="form--field">
    <%= styled_label_tag "time_entry_activities_project_#{activity.id}_active", activity.name %>
    <div class="form--field-container" >
      <%= hidden_field_tag "time_entry_activities_project[][activity_id]",
                           activity.id %>
      <%= styled_check_box_tag "time_entry_activities_project[][active]",
                               1,
                               activity.active_in_project?(@project),
                               id: "time_entry_activities_project_#{activity.id}_active" %>
    </div>
  </div>
<% end %>

<div class="generic-table--action-buttons">
  <%= styled_button_tag t(:button_save), class: '-highlight -with-icon icon-checkmark' %>
</div>
