
<% if @instructions.available? %>
<div id="repository--checkout-instructions"
     class="op-toast -info persistent-toggle--toaster"
     hidden>
  <a title="{{ ::I18n.t('js.close_popup_title') }}"
     class="op-toast--close icon-context icon-close">
  </a>
  <div class="op-toast--content">
    <p>
    <%= simple_format instructions.instructions %>
    <% if instructions.manages_permissions? %>
      <br/>
      <span><%= t('repositories.checkout.access_permission') %>:</span>
      <strong><%= t("repositories.checkout.access.#{instructions.permission}") %></strong>
    <% end %>
    </p>
  </div>
</div>
<% elsif @instructions.supported_but_not_enabled? %>
<div class="op-toast -warning">
  <a title="{{ ::I18n.t('js.close_popup_title') }}"
     class="op-toast--close icon-context icon-close">
  </a>
  <div class="op-toast--content">
    <p><%= t('repositories.checkout.not_available') %></p>
  </div>
</div>
<% end %>
