

<% html_title t(:label_administration), t("label_group_new") %>
<% local_assigns[:additional_breadcrumb] = t(:label_group_new) %>
<%= breadcrumb_toolbar t(:label_group_new) %>

<%= labelled_tabular_form_for(@group) do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <div><%= f.button t(:button_create), class: 'button -highlight -with-icon icon-checkmark' %></div>
<% end %>
