

<div class="principal_role_option form--field" id= "principal_role_option_<%= h(role.id) %>">
  <label class="form--label-with-check-box" for="principal_role_role_ids_<%= role.id %>">
    <%= check_box_tag 'membership[role_ids][]',
                      role.id,
                      false,
                      id: "principal_role_role_ids_#{role.id}" %>
    <%= h(role)%>
  </label>
</div>
