<div class="wiki wiki-content op-uc-container">
  <% if @formatted_text %>
    <%= @formatted_text %>
  <% else %>
    <%= format_text content, :text, attachments: content.page.attachments %>
  <% end %>
</div>
