

<% OpenProject::Plugins::AuthPlugin.providers.each do |pro| %>
  <%
    opts = { script_name: OpenProject::Configuration.rails_relative_url_root }

    if params['back_url']
      opts[:origin] = params['back_url']
    end
  %>
  <a href="<%= omniauth_start_path(pro[:name], opts) %>" class="auth-provider auth-provider-<%= pro[:name] %> button">
    <span class="auth-provider-name"><%= pro[:display_name] || pro[:name] %></span>
  </a>
<% end %>
