

<%= labelled_tabular_form_for @budget,
                              :as => :budget,
                              :url => budget_path(@budget),
                              :html => {:multipart => true,
                                        :id => 'budget_form',
                                        :class => 'form'} do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <div class="generic-table--action-buttons">
      <%= styled_button_tag t(:button_submit), class: '-with-icon icon-checkmark -highlight', id: 'budget-table--submit-button'%>
  </div>
<% end %>
