<%= toolbar title: @plugin.name %>
<div id="settings">
  <%= styled_form_tag({ controller: '/admin/settings', action: 'update_plugin' }) do %>
    <%= render partial: @partial, locals: { settings: @settings } %>
    <%= styled_submit_tag t(:button_apply), class: '-highlight' %>
  <% end %>
</div>
