

<div id="not_configured">
    <%= t(:label_backlogs_unconfigured, {
                :administration => t(:label_administration),
                :plugins => t(:label_plugins),
                :configure => t(:button_configure)
            })
    %>
</div>
