
<%= t("text_work_package_watcher_#{@action}", id: "##{@work_package.id}", watcher_changer: @watcher_changer) %>
<hr />
<%= render partial: 'work_package_details', locals: { work_package: @work_package } %>
<p>
  <%= format_text(t(:text_latest_note, note: last_work_package_note(@work_package)),
                    only_path: false,
                    object: @work_package,
                    project: @work_package.project) %>
</p>
